//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$footer-spacing: 9.6rem;
$desktop-breakpoint: 45rem;
$landing-spacing: 30rem;
$landing-spacing-m: 15rem;

//images
$preview-size: 20.0rem;
$l-preview-size: 22.0rem;